@font-face {
  font-family: Chicago;
  src: url("fonts/chicago-12-1.otf");
  font-weight: 300;
  font-style: normal;
}
@import 'tailwindcss';

@theme {
  --font-chicago: "Chicago", "sans-serif";
  --color-dusty-midnight: #1e3478;
}
#app {
  @apply h-screen w-screen bg-blue-100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: var(--font-chicago);
}

.welcomeMessage > * {
  @apply font-bold pb-2;
}

.homeButton {
  @apply bg-green-300 rounded-2xl text-lg font-semibold m-2 p-2;
}

button {
  @apply bg-blue-300 text-lg font-semibold m-2 p-2;
}
