@font-face {
  font-family: Chicago;
  src: url("fonts/chicago-12-1.otf");
  font-weight: 300;
  font-style: normal;
}
@import 'tailwindcss';

@theme {
  --font-chicago: "Chicago", "sans-serif";
}

#app {
  @apply h-screen w-screen bg-blue-100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: var(--font-chicago);
}

.welcomeMessage > * {
  @apply font-bold pb-2;
}

.homeButton {
  @apply bg-green-300 rounded-2xl text-lg font-semibold m-2 p-2;
}

button {
  @apply bg-blue-300 rounded-2xl text-lg font-semibold m-2 p-2;
}

.cards > button {
  @apply bg-blue-500 h-[100px] w-[70px] text-white;
}

.cards > button:active {
  @apply bg-white border-blue-500 border-2 text-blue-500;
}

.operators > button {
  @apply bg-pink-500 text-white;
}

.operators > button:active {
  @apply bg-white text-pink-500 border-pink-500 border-2;
}

input {
  @apply border-1;
}
